body {
    background-color: black;
}

p{
    font-family: 'Roboto', sans-serif;
    
    margin:2px;
}
.post {
    background-color: white;
    width: 600px;    
    margin:auto;
    height:800px;
}

.post-header {
    height: 10%;
    margin: 0px;        
}

.post-header img{
    width: 50px;
    margin-top: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.post-header-text {
    display:inline-block;
    margin-top: 20px;
    vertical-align: middle;
}

.options-header{
    float: right;    
    margin-top: 20px;
    margin-right: 20px;
    color: black;
    vertical-align: middle;
}

.principal-image img {
    width:100%;
    height: 100%;
}

.post-foot {
    height: 40%;
    margin-top: 20px;
}

.post-foot .icons {
    color:black;
    margin-bottom: 15px;
    
}

.icons-left {
    margin-left: 15px;
    display: inline-block;
}

i{
    margin-right: 10px;
}

.icons-rigth {
    float: right;
    vertical-align: middle;
    margin-right: 10px;
}

.likes{
    margin-left: 10px;
    margin-bottom: 15px;
}

.comment{
    margin-left: 10px;
}